<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('./partials/head') %>
        <title>Signin</title>
</head>

<body>
    <%- include('./partials/nav') %>

                <div class="container mt-4 d-flex justify-content-center">
                    <div class="card p-4 shadow" style="max-width: 400px; width:100%;">
                        <h2 class="mb-4 text-center">Sign In</h2>
                        <form action="/user/signin" method="post">
                            <div class="mb-3">
                                <label for="exampleInputEmail1" class="form-label">Email address</label>
                                <input type="email" name="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                                <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
                            </div>
                            <div class="mb-3">
                                <label for="exampleInputPassword1" class="form-label">Password</label>
                                <input name="password" type="password" class="form-control" id="exampleInputPassword1">
                            </div>
                            <button type="submit" class="btn btn-primary w-100">Submit</button>
                        </form>
                    </div>
                </div>

                <%- include('./partials/scripts') %>
                <footer>
                    <div>Blogify &copy; 2026. Crafted with ❤️ by you.</div>
                </footer>
</body>

</html>